@()(implicit request: play.api.mvc.RequestHeader)


@main("Semantic Elements") {

<div class="row">
    <div class="span12">
    <p>This page shows a list of all new HTML 5 semantic elements for future reference.</p>
    <dl class="col">
        <dt>
            <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/sections.html#the-section-element"><code>&lt;section&gt;</code></a>
        </dt>
        <dd>
            The <code>section</code> element represents a generic document or application section. A section, in this context, is a thematic grouping of content, typically with a heading. Examples of sections would be chapters, the tabbed pages in a tabbed dialog box, or the numbered sections of a thesis. A Web site's home page could be split into sections for an introduction, news items, contact information.
        </dd>

        <dt>
            <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/sections.html#the-nav-element"><code>&lt;nav&gt;</code></a>
        </dt>
        <dd>
            The <code>nav</code> element represents a section of a page that links to other pages or to parts within the page: a section with navigation links. Not all groups of links on a page need to be in a <code>nav</code> element &mdash; only sections that consist of major navigation blocks are appropriate for the <code>nav</code> element. In particular, it is common for footers to have a short list of links to common pages of a site, such as the terms of service, the home page, and a copyright page. The <code>footer</code> element alone is sufficient for such cases, without a <code>nav</code> element.
        </dd>

        <dt>
            <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/sections.html#the-article-element"><code>&lt;article&gt;</code></a>
        </dt>
        <dd>
            The <code>article</code> element represents a component of a page that consists of a self-contained composition in a document, page, application, or site and that is intended to be independently distributable or reusable, e.g. in syndication. This could be a forum post, a magazine or newspaper article, a Web log entry, a user-submitted comment, an interactive widget or gadget, or any other independent item of content.
        </dd>

        <dt>
            <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/sections.html#the-aside-element"><code>&lt;aside&gt;</code></a>
        </dt>
        <dd>
            The <code>aside</code> element represents a section of a page that consists of content that is tangentially related to the content around the <code>aside</code> element, and which could be considered separate from that content. Such sections are often represented as sidebars in printed typography. The element can be used for typographical effects like pull quotes or sidebars, for advertising, for groups of <code>nav</code> elements, and for other content that is considered separate from the main content of the page.
        </dd>

        <dt>
            <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/sections.html#the-hgroup-element"><code>&lt;hgroup&gt;</code></a>
        </dt>
        <dd>
            The <code>hgroup</code> element represents the heading of a section. The element is used to group a set of <code>h1</code>&ndash;<code>h6</code> elements when the heading has multiple levels, such as subheadings, alternative titles, or taglines.
        </dd>

        <dt>
            <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/sections.html#the-header-element"><code>&lt;header&gt;</code></a>
        </dt>
        <dd>
            The <code>header</code> element represents a group of introductory or navigational aids. A <code>header</code> element is intended to usually contain the section’s heading (an <code>h1</code>&ndash;<code>h6</code> element or an <code>hgroup</code> element), but this is not required. The <code>header</code> element can also be used to wrap a section’s table of contents, a search form, or any relevant logos.
        </dd>

        <dt>
            <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/sections.html#the-footer-element"><code>&lt;footer&gt;</code></a>
        </dt>
        <dd>
            The <code>footer</code> element represents a footer for its nearest ancestor sectioning content or sectioning root element. A footer typically contains information about its section such as who wrote it, links to related documents, copyright data, and the like. Footers don’t necessarily have to appear at the end of a section, though they usually do. When the <code>footer</code> element contains entire sections, they represent appendices, indexes, long colophons, verbose license agreements, and other such content.
        </dd>

        <dt>
            <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-time-element"><code>&lt;time&gt;</code></a>
        </dt>
        <dd>
            The <code>time</code> element represents either a time on a 24 hour clock, or a precise date in the proleptic Gregorian calendar, optionally with a time and a time-zone offset.
        </dd>

        <dt>
            <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-mark-element"><code>&lt;mark&gt;</code></a>
        </dt>
        <dd>
            The <code>mark</code> element represents a run of text in one document marked or highlighted for reference purposes.
        </dd>
    </dl>
    </div>
</div>

<script>
    $(function(){
        setNavbar("SemanticElements");
    });

</script>

    
}