@()(implicit request: play.api.mvc.RequestHeader)

@main("Welcome to Javascript/UI Samples") {

<div class="row">
    <div class="span12">
        <p>Select the Javascript demo you want to see:</p>
        <ul>
            <li id="menuI18n"><a href="@routes.I18N.index()">I18N</a></li>
            <li id="menuRouting"><a href="@routes.Routing.index()">Routing in Javascript</a></li>
            <li id="menuGridster"><a href="@routes.Gridster.index()">Gridster</a></li>
            <li id="menuMailcheck"><a href="@routes.Mailcheck.index()">Mailcheck</a></li>
            <li id="menuSessionjs"><a href="@routes.SessionJs.index()">Session.js</a></li>
            <li id="menuMarkdown"><a href="@routes.Markdown.index()">Markdown</a></li>
            <li id="menuGoogleAnalytics"><a href="@routes.GoogleAnalytics.index()">Google Analytics</a></li>
            <li id="menuD3js"><a href="@routes.D3js.index()">D3.js</a></li>
            <li id="menuTheJit"><a href="@routes.TheJit.index()">The JIT</a></li>
        </ul>
        <p>Select the UI demo you want to see:</p>
        <ul>
            <li id="menuEmailBoilerplate"><a href="@routes.EmailBoilerplate.index()">Email Boilerplate</a></li>
            <li id="menuLessPrefixer"><a href="@routes.LessPrefixer.index()">Less Prefixer</a></li>
            <li id="menuSemanticElements"><a href="@routes.SemanticElements.index()">Semantic Elements</a></li>
            <li id="menuGeolocation"><a href="@routes.Geolocation.index()">Geolocation</a></li>
            <li id="menuWebWorkers"><a href="@routes.WebWorkers.index()">WebWorkers</a></li>
            <li id="menuLocalStorage"><a href="@routes.LocalStorage.index()">LocalStorage</a></li>
            <li id="menuOffline"><a href="@routes.Offline.index()">Offline</a></li>

        </ul>

    </div>
</div>



<script>
    $(function(){
        setNavbar("Home");
    });
</script>

    
}