@()(implicit request: play.api.mvc.RequestHeader)

@main("Welcome to Javascript/UI Samples") {

<div class="row">
    <div class="span12">
        <p>Select the demo you want to see:</p>
        <ul>
            <li id="menuI18n"><a href="@routes.I18N.index()">I18N</a></li>
            <li id="menuRouting"><a href="@routes.Routing.index()">Routing in Javascript</a></li>
            <li id="menuGridster"><a href="@routes.Gridster.index()">Gridster</a></li>
            <li id="menuMailcheck"><a href="@routes.Mailcheck.index()">Mailcheck</a></li>
            <li id="menuSessionjs"><a href="@routes.SessionJs.index()">Session.js</a></li>
            <li id="menuMarkdown"><a href="@routes.Markdown.index()">Markdown</a></li>
        </ul>
    </div>
</div>



<script>
    $(function(){
        setNavbar("Home");
    });
</script>

    
}